### File: .htaccess
### Desc: Configures URL rewriting, custom error handling, proxy blocking, and access restrictions for the server.
### Deps: none
### Copyright (c) 2024 Andrés Trujillo [Mateus] byUwUr

# Keep this file intentionally scoped to error handling.
# Paths are relative to the web server DocumentRoot.
ErrorDocument 400 /_error.html?e=400
ErrorDocument 401 /_error.html?e=401
ErrorDocument 403 /_error.html?e=403
ErrorDocument 404 /_error.html?e=404
ErrorDocument 500 /_error.html?e=500
ErrorDocument 502 /_error.html?e=502
ErrorDocument 503 /_error.html?e=503
ErrorDocument 504 /_error.html?e=504
